body {
  background-color: #00e6e6;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-family: Arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px red;
}

h2 {
    font-family: Arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px gray;
}

h3 {
    font-family: Arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px gray;
}

h4 {
    font-family: Arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px gray;
}

h5 {
    font-family: Arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px gray;
}

h6 {
    font-family: Arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px gray;
}

p {
    font-family: Arial;
    padding-left: 300px;
    padding-right: 300px;
    color: white;
    text-shadow: 2px 2px 5px gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
