body {
  background-color: #00e6e6;
}

h1 {
    font-family: arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px red;
}

h2 {
    font-family: arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
}

h3 {
    font-family: arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
}

h4 {
    font-family: arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
}

h5 {
    font-family: arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
}

h6 {
    font-family: arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
}

p {
    font-size: 32px;
    font-family: arial;
    padding-left: 300px;
    padding-right: 300px;
    color: white;
    text-shadow: 2px 2px gray;
}

ul li {
    font-family: arial;
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
}
